

html, body, header, h1, h2, h3, nav, main, footer {
	margin: 0;
	padding: 0;
	border: 0;
}

head {
    color: white;
}

body {
    background-color: #29b6f6;
	margin: 0;
	padding: 0;
}

header h1 h2 {
    color: white;
    margin: 5%;
    padding: 0;
    text-align: center;

}

.hnav {
	padding: 5px 0;
	width: 100%;
	background-color: white;
	min-height: 50px;
    color: black;
}

.hnav ul {
	display: block;
	text-align: center;
}

.hnav ul li {
	display: inline-block;
	list-style: none;
	width: 15%;
	background-color: white;
	margin-top: .8%;
}

.hnav a {
	color: lightskyblue;
	text-decoration: none;
	font-size: 1.5em;
}


main {
    color: blue;
    width: 100%;
	min-height: 500px;
}

#container {
    color: blue;
    margin: 0 auto;
    padding: 2%;
    width: 80%;
    font-size: 1em;
    
}

p {
    font-size: 1.5em;
}

#item1 {
    
}

#item2 {
    background-image: url("../images/3121667371_96cc7a1ac3_o.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bold;
    min-height: 25px;
    margin: 0;
    padding: 25px 25px;
}


#item3 {
    
}

#item4 {

}

.webProjects {

}

section {

}

.fnav {
	padding: 5px 0;
	width: 100%;
	background-color: #29b6f6;
	min-height: 50px;
}

.fnav ul {
	display: block;
	text-align: center;
}

.fnav ul li {
	display: inline-block;
	list-style: none;
	width: 15%;
	background-color: white;
	margin-top: .8%;
}

.fnav a {
	color: lightskyblue;
	text-decoration: none;
	font-size: 1.5em;
}

.fnav:hover {
	text-decoration: underline;
	color: white;
}