
head {
    
}

body {
    background-color: black;
}

header h1 {

}

main {
    color: blue;
}

#container {
    color: blue;
}

#item1 {
    
}

#item2 {

}

#item3 {

}

.webProjects {

}

section {

}